body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: grey;
  font-family: 'inter';
}
@media (max-width: 600px) {
  header {
    height: 60px;
    width: 100%;
    background-color: rgb(67, 186, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header div img.logo {
    height: 50px;
    margin-left: 35px;
    border-radius: 90px;
  }
  header div img.burger {
    margin-right: 40px;
  }
  section.truck {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgb(67, 186, 3), white 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  section.truck div.truck-text {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  section.truck div.truck-text button {
    height: 38px;
    width: 200px;
    background-color: rgb(43, 220, 76);
    border-radius: 20px;
    border: none;
  }
  section.tentangkami {
    height: 300px;
    text-align: center;
    line-height: 40px;
    background-color: white;
  }
  section.tentangkami h2 {
    margin: 0px;
  }
}
